

@font-face {
    font-family: 'Oswald';
    src: url(https://fonts.googleapis.com/css2?family=Agbalumo&family=Caveat:wght@500&family=Oswald:wght@500&family=Permanent+Marker&display=swap);
}

@font-face {
    font-family: 'Oswald-Light300';
    src: url(https://fonts.googleapis.com/css2?family=Agbalumo&family=Caveat:wght@500&family=Oswald:wght@300;500&family=Permanent+Marker&display=swap);
}

html {
    font-size: 16px;
    font-family: Helvetica;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    width: 100%;

}

header {
    position: fixed;
    z-index: 10;
    width: 100%;
    border-bottom: solid 5px #dbbe67;
    background-color: white;
    font-family: 'Oswald';
    font-weight: bold;
    margin-top: 0px;
}

header .nav-bar {
    align-items: center;
    display: flex;
    padding: 1rem 0;
    flex-wrap: wrap;
    margin-top: 0px;
}

header .nav-logo {
    flex: 1;
    margin-left: 2%;
}

header img {
    box-sizing: border-box;
    height: 83px;
    width: 250px;
    overflow: hidden;
    display: flex;
}

header .nav-text {
    display: inline-flex;
    flex-direction: row;
    gap: 25px;
    flex-wrap: wrap;
    margin-right: 1%;
    width: 600px;

}

header a {
    display: flex;
    text-transform: uppercase;
    text-decoration: none;
    color: #05402C;
    text-shadow: black 5px solid;
    align-items: center;
    font-size: 1rem;
}

nav .text:hover {
    color: white;
    background-color: gray;
    padding: 6px 10px;
    font-size: 0.8rem;
    border-radius: 1rem;
}

nav .button {
    display: flex;
    background-color: #05402C;
    color: white;
    padding: 15px 12px;
    border-radius: 1rem;
}

nav .button:hover {
    border-bottom: 3px solid gray;
    border-right: 3px solid gray;
}

@media only screen and ( max-width: 480px){

    header .nav-text {
        max-width: 300px;
        margin-right: 0;
        display: flex;
    }

    header img{
        height: 41px;
        width: 125px;
    }

    header a{
        font-size: 0.5rem;
    }

    header .nav-logo{
        margin-left: 0;
    }

}

.main-content {
    position: relative;
    top: 7.6rem;
    justify-content: space-around;
    justify-items: center;
    align-content: space-around;
}

section {
    color: white;
    display: flex;
    min-height: 47rem;
    background-image: url('../healthvibeagency/FONDO.jpg');
    background-position: bottom;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    position: static;
    width: 100%;
    height: fit-content;
    z-index: 5;
}

section .banner {
    display: flex;
    min-width: 180px;
    max-height: fit-content;
    align-items: center;
}

#section {
    display: block;
    top: 150px;
    padding: 0 2.5rem;
    border-radius: 10px;
    width: 100%;
    height: auto;
    min-width: 180px;
    margin-right: 1rem;
    margin-left: 1rem;
}

#section #content {
    margin-top: 5rem;
    line-height: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#content .text {
    color: #dbbe67;
    text-shadow: black 1px 0 5px;
}

#content strong {
    color: #dbbe67;
}

#section h1 {
    font-size: 3rem;
    text-shadow: black 1px 0 30px;
    font-family: 'Oswald';
    text-transform: uppercase;
    line-height: 1.2;
    width: 100%;
    height: auto;
    display: block;
}


#section h2 {
    font-size: 2rem;
    color: white;
    text-shadow: #dbbe67 1px 0 50px;
    font-family: 'Oswald';
    font-weight: lighter;
    justify-self: center;
    width: 100%;
}


#content .one {
    max-width: 900px;
    min-width: 250px;
    justify-self: center;
    width: 100%;
}

#content .sub {
    max-width: 880px;
    min-width: 250px;
    font-size: 2rem;

}

#section .button {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

#button {
    color: white;
    background-color: #dbbe67;
    padding: 12px;
    font-size: 1.5rem;
    font-family: 'Oswald';
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px;
    border: 0;
    text-shadow: black 1px 0 10px;
}

#section #button:hover {
    border-bottom: 5px solid #b88f14;
    border-right: 5px solid #b88f14;
}



#section .clients {
    display: inline-flex;
    gap: 20px;
    margin: 4rem 2rem 0 0;
    flex-wrap: wrap;
    flex-direction: row;
    font-weight: lighter;
    font-family: 'Oswald';
    width: 100%;
    justify-content: center;
}

.clients strong {
    color: #dbbe67;
    font-size: 2rem;
    text-shadow: green 1px 0 10px;
}

@media only screen and ( max-width: 480px){
    
    #section h1 {
        font-size: 2rem;
    }

}


@media only screen and (max-width: 816px) {

    section {
        min-height: 70rem;

    }

    nav {
        display: inline-flex;
        flex-direction: column;
    }

    header .nav-text {
        margin-right: 0px;
        gap: 15px;
        margin-top: 20px;
    }

    .nav-logo img {

        justify-content: space-around;
        justify-items: center;
        justify-self: center;
    }


}

@media only screen and (max-width: 480px) {

    #section .clients {
        gap: 0px;
    }
}

.carrousel {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    position: static;
    top: 70rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: 1px;
}

.carrousel .images {
    display: inline-flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.google-partner img {
    display: block;
    height: 100px;
    width: 100px;
}

.google-cloud img {
    grid-column: 2/3;
    display: block;
    height: 70px;
    width: 162px;

}

.meta img {
    display: block;

    height: 70px;
    width: 210px;
}

.tiktok img {
    display: block;

    height: 70px;
    width: 140px;
}

.make img {
    display: block;

    height: 40px;
    width: 290px;
}

#services {
    text-align: center;
    width: 100%;
    font-family: 'Oswald';
    text-transform: uppercase;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    
}

#services h3 {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0.1rem;
    color: black;
}

#services h2 {
    font-size: 3rem;
    margin-top: 0.1rem;
    color: #dbbe67;
}


.cards {
    display: inline-flex;
    justify-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 3rem;
    gap: 50px;
    box-shadow: #b88f14 1px 0 30px;
    flex-wrap: wrap;
    flex-direction: row;
}

.cards .box {
    box-shadow: #dbeddc 5px 0 20px;
    margin: 2% 0 2%;
    padding: 2%;
    border-radius: 1rem;
    width: 250px;
    height: auto;
    font-family: 'Oswald';
}

.cards .box:hover {
    background-color: #05402C;
    border-bottom: solid 2px #70b578;
    border-right: solid 2px #70b578;
    color: white;
}

.box img {
    height: 100px;
    width: 100px;
    width: 100%;
}

.box h3 {
    text-transform: uppercase;
}  

.sectiontwo{
    display: block;
    flex-direction: row;
    position: static;
    width: 100%;
    height: auto;
}

#sectiontwo{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
}



#sectiontwo .text{
    font-family: 'Oswald';
    display: flex;
    flex-direction: column;
    width: 500px;
    height: auto;
    justify-items: center;
    align-items: center;
    
}

#sectiontwo h2{
    font-size: 3rem;
    max-width: 550px;
}

.text h2{
    height: auto;
    width: 100%;
}

#sectiontwo strong{
    color: #008000;
}

#sectiontwo p{
    font-size: 2rem;
    max-width: 550px;
    margin-bottom: 4rem;
    margin-top: 0;
    font-weight: 500;
}

.text p{
    width: 100%;
    height: auto;
}

#sectiontwo button{
    font-size: 1rem;
    width: 280px;
    height: 70px;
    border-radius: 10px;
    background-color: #dbbe67;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: 0;
}

#sectiontwo embed{
    display: flex;
    width: 600px;
    height: auto;
    border-radius: 15px;
}
embed{
    width: 650px;
    height: 400px;
}

@media only screen and ( max-width: 480px){

    #sectiontwo embed{
        width: 300px;
        margin-top: 20px;
    }

    #sectiontwo h2{
        font-size: 2rem;
        max-width: 320px;
        margin-bottom: 1rem;
    }

    #sectiontwo p{
        font-size: 1rem;
        max-width: 320px;
        margin-bottom: 1rem;
        margin-top: 0;
        font-weight: 500;
    }

    #sectiontwo .text{
        margin-right: 1rem;
        margin-left: 1rem;
    }


}